# OS
.DS_Store
Thumbs.db
desktop.ini

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Lab / simuladores
*.gns3
*.unl
*.pkt
*.pka

# Capturas de tráfico (no subir pcaps con datos reales)
*.pcap
*.pcapng
*.cap

# Credenciales
.env
*.key
*.pem
*.crt
secrets/

# Python
__pycache__/
*.pyc
.venv/
venv/

# Go
bin/
dist/

# Node
node_modules/

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
